/* CSS declarations go here */

.my_background{

}
form {
  text-align: center;
}


body{

  font-family:  Helvetica, sans-serif;
  font-size:1.6rem;
  margin: 0 0 0 0;
  background:url("images/background.jpg");
	background-size:cover;
  background-repeat:initial;
}

h1{
  font-family:  Verdana , Helvetica, sans-serif;
}

@import './../imports/client/ui/login_register_forms';
@import './../imports/client/ui/navbarlogo';
@import './../imports/client/ui/navbar';
@import './../imports/client/ui/image_attributes';
@import './../imports/client/ui/genericform';
@import './../imports/client/ui/profile_picture';
@import './../imports/client/ui/buttons_adjustments';
@import './../imports/client/ui/form_control_adjustments';
@import './../imports/client/ui/user_box';
@import './../imports/client/ui/comment_box';
@import './../imports/client/ui/profile_page_style';
