/* CSS declarations go here */
form {
  text-align: center;
}


body{
  background:#181C1D;
  font-family:  Helvetica, sans-serif;
  font-size:1.6rem;
}

h1{
  font-family:  Verdana , Helvetica, sans-serif;
}

@import './../imports/client/ui/login_register_forms';
@import './../imports/client/ui/navbarlogo';
@import './../imports/client/ui/navbar';
@import './../imports/client/ui/image_attributes';
@import './../imports/client/ui/genericform';
@import './../imports/client/ui/profile_picture';
@import './../imports/client/ui/buttons_adjustments';
@import './../imports/client/ui/form_control_adjustments';
