/* CSS declarations go here */

#form-user-input{
	background-color: #50575A;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right:10px;
	border-radius: 5px;
}

.login-container{
	background-color: #50575A;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right:10px;
	border-radius: 5px;
}

.container{
	width: 35%;
	margin:auto
}

.container h1{
	text-align: center;
	color: white;
	font-size: 35px;
	border-bottom: 1px;
 	border-bottom-style: none;
}

body{
	background-color: #181C1D;
	padding-top: 70px; 
}

.form-control{
	background-color: #2B2B2B;
	border: 0px;
	border-radius: 0px;
	color: #FFFFFF;
}

input::-webkit-input-placeholder {
	color: #424242 !important;
}

input::-moz-placeholder{ 
	color: #424242 !important;
	opacity:  1;
}

.btn-default{
	border: 0px;
	border-radius: 0px;
}


.navbar-default{
	background-color: rgb(57,59,71);
}

#registerAccount{
	background-color: #0074E1;
	color: white;
	margin-right: 4px; 
	font-weight: bold;
}

#registerButton{
	margin-right: 10px; 
	background-color: #50575A;
	color: white;
}

#loginButton{
	background-color: #0074E1;
	color: white;
	font-weight: bold;
}

#logoutButton{
	background-color: #FF0000;
	color: white;
	font-weight: bold;
}
