/* CSS declarations go here */

#form-user-input{
	background-color: #50575A;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right:10px;
	border-radius: 5px;
}

.container{
	width: 35%;
	margin:auto
}

.container h1{
	text-align: center;
	color: white;
	font-size: 35px;
	border-bottom: 1px;
 	border-bottom-style: none;
}

body{
	background-color: #181C1D;
}

.form-control{
	background-color: #2B2B2B;
	border: 0px;
	border-radius: 0px;
	color: #FFFFFF;
}

input::-webkit-input-placeholder {
	color: #424242 !important;
}

input::-moz-placeholder{ 
	color: #424242 !important;
	opacity:  1;
}

#registerAccount{
	background-color: #0074E1;
	border: 0px;
	border-radius: 0px;
	color: white;
	margin-right: 4px; 
	font-weight: bold;
}

#backIndex{
	border: 0px;
	border-radius: 0px;
}