.detailBox {
  background: #34465d;
    width:500px;
    border:1px solid #bbb;
    margin:10px;
    padding: 1rem;
    display:none;
}

.commentList {

    padding:0;
    list-style:none;
    max-height:90px;
    overflow:auto;
}

.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.titleBox {
    margin-top:3px;
    padding:5px;
}
.titleBox label{
  color:white;
  margin:0;
  border:2px solid #16a085;
  padding: 3px;
  display:inline-block;
}

.commentBox{

}
