
.parent_container{
  text-align: center;
  width: 550px;
  height: 550px;
  background: rgba(10, 10, 10, 0.54);
}

.image_size{
  height:100%;
  width:100%;
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin: auto;
}
