.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: auto;
   width: auto;
   max-width: 120px;
   max-height: 120px;

}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
