

.profile_picture_adjustments{
  max-width: 120px;
  max-height:120px;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-width: 3px;
  border-radius: 100%;
  background: black;
  border-style: solid;
  border-color: blue;
}
