.item {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 1.3rem;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
