
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.item {
  color:#AD1457;
  background: #424242;

  border: 1px solid #e8e8e8;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 1.3rem;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}



.friend_box {
  border: 3px solid black;
  box-shadow: 10px 10px 35px black;
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  margin-top: 15px;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  width: 100%;

  color: #ffffff;

  line-height: 1.4em;
  background-color: #141414;
}
.friend_box * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.friend_box .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.friend_box figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.friend_box .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.friend_box h3 {
  margin: 0 0 5px;
  font-weight: 400;
}
.friend_box h3 span {
  display: block;
  font-size: 0.6em;
  color: #f39c12;
  opacity: 0.75;
}
.friend_box i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}
.friend_box a {
  text-decoration: none;
}
.friend_box i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.friend_box:hover .background,
.friend_box.hover .background {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
